<form class="newsletter-form" id="newsletter-signup" action="{{ site.newsletter_action }}" method="post" accept-charset="utf-8">
  <div>
    <label for="newsletter-email">Get new posts by email</label>
    <p>Join the KodyW newsletter. Jetpack sends a confirmation email before adding anyone to the list.</p>
  </div>
  <div class="newsletter-fields">
    <input id="newsletter-email" name="email" type="email" autocomplete="email" placeholder="you@example.com" required>
    <button type="submit">Subscribe</button>
  </div>
  <input type="hidden" name="action" value="subscribe">
  <input type="hidden" name="blog_id" value="{{ site.newsletter_blog_id }}">
  <input type="hidden" name="source" value="{{ page.url | prepend: site.url }}">
  <input type="hidden" name="sub-type" value="widget">
</form>
